{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="app" class="container">
        <h1 class="text-center">${pageTitle}</h1>

        <div class="row">
            {% for pizza in pizzas %}
                <div class="card col-md-3">
                    <img class="card-img-top img-responsive" src="{{ asset('assets/images/pizzas/' ~ pizza.image ~ '.jpg') }}" alt="{{ pizza.name }}">
                    <div class="card-block">
                        <h4 class="card-title">{{ pizza.name|upper }}</h4>
                        <p class="card-text">{{ pizza.ingredients }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="application/javascript">

        Vue.config.delimiters = ['${', '}'];

        new Vue({
            el: '#app',
            data: {
                pageTitle: "Mardizza !!!"
            }
        });
    </script>
{% endblock %}