{% extends 'AppBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}

    <nav class="navbar navbar-lower navbar-fixed-top">
        <button id="filter-favorites" class="btn btn-default" role="checkbox"><span
                    class="button-text">Filtrer par </span><span class="glyphicon glyphicon-heart"></span></button>
    </nav>
{% endblock %}

{% block content %}
    <div id="app">

        {% for pizza in pizzas %}
            <pizza
                    :id="{{ pizza.id|json_encode }}"
                    :name="{{ pizza.name|json_encode }}"
                    :image="{{ pizza.imageUrl|json_encode }}"
                    :snapshot="{{ pizza.imageSnapshotUrl|json_encode }}"
                    :ingredients="{{ pizza.ingredients|json_encode }}"
                    :price="{{ pizza.price|json_encode }}"
                    :favorite="{{ pizza.isFavorite|json_encode }}"
            >

            </pizza>
        {% endfor %}


        {% include 'AppBundle:partials:_basket.html.twig' %}

        {# includes template #}
        {% include 'AppBundle:templates:pizza.html.twig' %}
    </div>
{% endblock %}
