{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="app">
        
        <h1 class="text-center">${pageTitle}</h1>

        <div class="row">

            <div class="pizza-cards col-md-8">
                <ul class="list-inline list-unstyled">
                    {% for pizza in pizzas %}
                        <li>
                            <div class="card">
                                <img class="card-img-top img-responsive"
                                     src="{{ asset('assets/images/pizzas/' ~ pizza.image ~ '.jpg') }}" alt="{{ pizza.name }}">

                                <div class="card-block">
                                    <h4 class="card-title pizza-name">{{ pizza.name|upper }}</h4>

                                    <p class="card-text">{{ pizza.ingredients }}</p>

                                    <p class="card-text pizza-price">{{ pizza.price|number_format('2', ',', '.') }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4" id="order-basket">
                <h1>Commande <small>{{ order.createdAt|date('d/m/y') }}</small></h1>
                <ul id="pizzas" class="list-unstyled"></ul>
            </div>

        </div>
    </div>
{% endblock %}
