<div id="pizza-cards">
    <ul class="list-inline list-unstyled">
        <pizzas :pizzas="{{ pizzas }}"></pizzas>
    </ul>
</div>

<template id="pizza-card">
    <li class="pizza-card" data-pizzaid="<< pizza.id >>" v-for="pizza in pizzas">
        <div class="pizza-card-content">
            <div class="pizza-card-header">
                <img class="pizza-card-img img-responsive"
                     src="{{ asset('assets/images/pizzas/<< pizza.image >>.jpg') }}" alt="<< pizza.name >>">
                <a href="#" class="btn btn-success btn-xs add-pizza"><span class="glyphicon glyphicon-plus"></span></a>
            </div>

            <div class="pizza-card-body">
                <h4 class="pizza-card-name pizza-name" data-name="<< pizza.name >>"><< pizza.name | capitalize >></h4>
                <p class="pizza-card-ingredients" data-ingredients="<< pizza.ingredients>>"><< pizza.ingredients >></p>
            </div>
        </div>

        <div class="pizza-card-footer">
            <a href="#" class="pizza-clipboard"
               data-clipboard-text="https://{{ app.request.host }}:{{ app.request.port }}{{ asset('assets/images/pizzas/screenshots/<< pizza.image >>.jpg') }}"><span
                        class="glyphicon glyphicon-camera"></span></a>
            <p class="pizza-card-price pizza-price" data-price="<< pizza.price}}"><< pizza.price|currency '€' >></p>
            <a href="#" class="add-favorite"><span class="glyphicon glyphicon-heart-empty"></span></a>
        </div>
    </li>
</template>