<li class="pizza-card" data-pizzaid="{{ pizza.id }}">
    <div class="pizza-card-content">
        <div class="pizza-card-header">
            <img class="pizza-card-img img-responsive"
                 src="{{ asset('assets/images/pizzas/' ~ pizza.image ~ '.jpg') }}" alt="{{ pizza.name }}">
            <a href="#" class="btn btn-success btn-xs add-pizza"><span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <div class="pizza-card-body">
            <h4 class="pizza-card-name pizza-name" data-name="{{ pizza.name}}">{{ pizza.name|upper }}</h4>
            <p class="pizza-card-ingredients" data-ingredients="{{ pizza.ingredients}}">{{ pizza.ingredients }}</p>
        </div>
    </div>

    <div class="pizza-card-footer">
        <a href="#" class="pizza-clipboard" data-clipboard-text="http://{{ app.request.host }}:{{ app.request.port }}{{ asset('assets/images/pizzas/screenshots/' ~ pizza.image ~ '.jpg') }}"><span class="glyphicon glyphicon-camera"></span></a>
        <p class="pizza-card-price pizza-price" data-price="{{ pizza.price}}">{{ pizza.price|number_format('2', ',', '.') }}&nbsp;€</p>

        {% if pizza.name in favorites %}
            <a href="#" class="remove-favorite"><span class="glyphicon glyphicon-heart"></span></a>
        {% else %}
            <a href="#" class="add-favorite"><span class="glyphicon glyphicon-heart-empty"></span></a>
        {% endif %}
    </div>
</li>
